BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 5c21b1e83871

ALTER TABLE candidate_feedback ALTER COLUMN recruiter_id TYPE UUID USING recruiter_id::uuid;

ALTER TABLE candidate_feedback ALTER COLUMN session_id TYPE UUID USING session_id::uuid;

ALTER TABLE ranking_explanations ALTER COLUMN id TYPE UUID USING id::uuid;

ALTER TABLE ranking_explanations ALTER COLUMN job_id TYPE UUID USING job_id::uuid;

ALTER TABLE ranking_explanations ALTER COLUMN job_id SET NOT NULL;

ALTER TABLE ranking_runs ALTER COLUMN id TYPE UUID USING id::uuid;

ALTER TABLE ranking_runs ALTER COLUMN job_id TYPE UUID USING job_id::uuid;

ALTER TABLE ranking_runs ALTER COLUMN job_id SET NOT NULL;

ALTER TABLE ranking_runs ALTER COLUMN recruiter_id TYPE UUID USING recruiter_id::uuid;

ALTER TABLE recruiter_role_preferences ALTER COLUMN id TYPE UUID USING id::uuid;

ALTER TABLE recruiter_role_preferences ALTER COLUMN recruiter_id TYPE UUID USING recruiter_id::uuid;

ALTER TABLE recruiter_skill_preferences ALTER COLUMN id TYPE UUID USING id::uuid;

INSERT INTO alembic_version (version_num) VALUES ('5c21b1e83871') RETURNING alembic_version.version_num;

-- Running upgrade 5c21b1e83871 -> 7f8a9b0c1d2e

ALTER TABLE candidate_selection_sessions DROP CONSTRAINT uq_candidate_selection_sessions_job;

ALTER TABLE outreach_events DROP CONSTRAINT uq_outreach_events_job_candidate;

UPDATE alembic_version SET version_num='7f8a9b0c1d2e' WHERE alembic_version.version_num = '5c21b1e83871';

-- Running upgrade 7f8a9b0c1d2e -> 2a4f6d7e8c90

CREATE TABLE embedding_version_registry (
    id VARCHAR(36) NOT NULL, 
    embedding_version VARCHAR(64) NOT NULL, 
    status VARCHAR(32) DEFAULT 'active' NOT NULL, 
    vector_size INTEGER DEFAULT '384' NOT NULL, 
    details JSON DEFAULT '{}' NOT NULL, 
    activated_at TIMESTAMP WITH TIME ZONE, 
    retired_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_embedding_version_registry_version UNIQUE (embedding_version)
);

CREATE INDEX ix_embedding_version_registry_embedding_version ON embedding_version_registry (embedding_version);

CREATE TABLE audit_events (
    id VARCHAR(36) NOT NULL, 
    actor_id UUID, 
    actor_type VARCHAR(32) DEFAULT 'user' NOT NULL, 
    action VARCHAR(128) NOT NULL, 
    entity_type VARCHAR(128) NOT NULL, 
    entity_id VARCHAR(128) NOT NULL, 
    metadata JSON DEFAULT '{}' NOT NULL, 
    ip_address VARCHAR(64) DEFAULT '' NOT NULL, 
    user_agent VARCHAR(512) DEFAULT '' NOT NULL, 
    request_id VARCHAR(128) DEFAULT '' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(actor_id) REFERENCES users (id)
);

CREATE INDEX ix_audit_events_actor_id ON audit_events (actor_id);

CREATE INDEX ix_audit_events_action ON audit_events (action);

CREATE INDEX ix_audit_events_entity_type ON audit_events (entity_type);

CREATE INDEX ix_audit_events_entity_id ON audit_events (entity_id);

UPDATE alembic_version SET version_num='2a4f6d7e8c90' WHERE alembic_version.version_num = '7f8a9b0c1d2e';

-- Running upgrade 2a4f6d7e8c90 -> 9c7d1e2f3a4b

CREATE TABLE internal_candidate_resumes (
    id VARCHAR(36) NOT NULL, 
    candidate_id VARCHAR(128) NOT NULL, 
    resume_fingerprint VARCHAR(128) NOT NULL, 
    source_filename VARCHAR(512) DEFAULT '' NOT NULL, 
    source_path VARCHAR(1024) DEFAULT '' NOT NULL, 
    source_metadata JSON DEFAULT '{}' NOT NULL, 
    full_name VARCHAR(255) DEFAULT '' NOT NULL, 
    headline VARCHAR(255) DEFAULT '' NOT NULL, 
    years_experience FLOAT DEFAULT '0' NOT NULL, 
    skills JSON DEFAULT '[]' NOT NULL, 
    companies JSON DEFAULT '[]' NOT NULL, 
    education JSON DEFAULT '[]' NOT NULL, 
    projects JSON DEFAULT '[]' NOT NULL, 
    certifications JSON DEFAULT '[]' NOT NULL, 
    location VARCHAR(255) DEFAULT '' NOT NULL, 
    summary TEXT DEFAULT '' NOT NULL, 
    domain_experience JSON DEFAULT '[]' NOT NULL, 
    raw_resume_text TEXT DEFAULT '' NOT NULL, 
    parsed_data JSON DEFAULT '{}' NOT NULL, 
    embedding_version VARCHAR(64) DEFAULT '' NOT NULL, 
    vector_version VARCHAR(64) DEFAULT '' NOT NULL, 
    qdrant_point_id VARCHAR(128) DEFAULT '' NOT NULL, 
    indexed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_internal_candidate_resumes_fingerprint UNIQUE (resume_fingerprint), 
    CONSTRAINT uq_internal_candidate_resumes_candidate_id UNIQUE (candidate_id)
);

CREATE INDEX ix_internal_candidate_resumes_candidate_id ON internal_candidate_resumes (candidate_id);

CREATE INDEX ix_internal_candidate_resumes_resume_fingerprint ON internal_candidate_resumes (resume_fingerprint);

CREATE INDEX ix_internal_candidate_resumes_embedding_version ON internal_candidate_resumes (embedding_version);

UPDATE alembic_version SET version_num='9c7d1e2f3a4b' WHERE alembic_version.version_num = '2a4f6d7e8c90';

-- Running upgrade 5c21b1e83871 -> a1b2c3d4e5f6

CREATE INDEX IF NOT EXISTS ix_candidate_profiles_job_fit
        ON candidate_profiles (job_id, fit_score DESC);

CREATE INDEX IF NOT EXISTS ix_candidate_profiles_last_refreshed
        ON candidate_profiles (last_refreshed_at ASC);

CREATE INDEX IF NOT EXISTS ix_candidate_feedback_recruiter
        ON candidate_feedback (recruiter_id)
        WHERE recruiter_id IS NOT NULL;

CREATE INDEX IF NOT EXISTS ix_candidate_feedback_updated_at
        ON candidate_feedback (updated_at DESC);

CREATE INDEX IF NOT EXISTS ix_outreach_events_followup
        ON outreach_events (status, next_follow_up_at, follow_up_count)
        WHERE status = 'sent';

CREATE INDEX IF NOT EXISTS ix_outreach_events_learning
        ON outreach_events (status, learning_applied, responded_at)
        WHERE learning_applied = false;

CREATE INDEX IF NOT EXISTS ix_interviews_job_status
        ON interviews (job_id, status);

CREATE INDEX IF NOT EXISTS ix_jobs_status_created
        ON jobs (job_status, created_at DESC);

CREATE INDEX IF NOT EXISTS ix_ranking_runs_created_at
        ON ranking_runs (created_at DESC);

CREATE INDEX IF NOT EXISTS ix_otps_email_expires
        ON otps (email, expires_at)
        WHERE used = false;

CREATE INDEX IF NOT EXISTS ix_interview_sessions_expires
        ON interview_sessions (expires_at);

INSERT INTO alembic_version (version_num) VALUES ('a1b2c3d4e5f6') RETURNING alembic_version.version_num;

-- Running upgrade 9c7d1e2f3a4b, a1b2c3d4e5f6 -> 84956441b9c3

DELETE FROM alembic_version WHERE alembic_version.version_num = '9c7d1e2f3a4b';

UPDATE alembic_version SET version_num='84956441b9c3' WHERE alembic_version.version_num = 'a1b2c3d4e5f6';

-- Running upgrade 9c7d1e2f3a4b -> 1f2e3d4c5b6a

ALTER TABLE internal_candidate_resumes ALTER COLUMN id TYPE UUID USING id::uuid;

INSERT INTO alembic_version (version_num) VALUES ('1f2e3d4c5b6a') RETURNING alembic_version.version_num;

-- Running upgrade 1f2e3d4c5b6a, 84956441b9c3 -> d372c35b8adf

DELETE FROM alembic_version WHERE alembic_version.version_num = '1f2e3d4c5b6a';

UPDATE alembic_version SET version_num='d372c35b8adf' WHERE alembic_version.version_num = '84956441b9c3';

-- Running upgrade 84956441b9c3 -> 3b1c2d4e5f60

CREATE TABLE inbound_email_replies (
    id UUID NOT NULL, 
    svix_id VARCHAR(255) NOT NULL, 
    event_type VARCHAR(64) DEFAULT 'email.received' NOT NULL, 
    email_id VARCHAR(255) NOT NULL, 
    provider_message_id VARCHAR(255) DEFAULT '' NOT NULL, 
    candidate_id VARCHAR(128), 
    job_id UUID, 
    outreach_event_id UUID, 
    sender_email VARCHAR(320) DEFAULT '' NOT NULL, 
    sender_name VARCHAR(255) DEFAULT '' NOT NULL, 
    subject VARCHAR(255) DEFAULT '' NOT NULL, 
    body_text TEXT DEFAULT '' NOT NULL, 
    body_html TEXT DEFAULT '' NOT NULL, 
    received_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    webhook_created_at TIMESTAMP WITH TIME ZONE, 
    processing_status VARCHAR(32) DEFAULT 'received' NOT NULL, 
    match_status VARCHAR(32) DEFAULT 'unmatched' NOT NULL, 
    attachment_count INTEGER DEFAULT '0' NOT NULL, 
    raw_payload JSON DEFAULT '{}'::json NOT NULL, 
    processing_error TEXT DEFAULT '' NOT NULL, 
    processed_at TIMESTAMP WITH TIME ZONE, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(job_id) REFERENCES jobs (id), 
    FOREIGN KEY(outreach_event_id) REFERENCES outreach_events (id), 
    CONSTRAINT uq_inbound_email_replies_svix_id UNIQUE (svix_id), 
    CONSTRAINT uq_inbound_email_replies_email_id UNIQUE (email_id), 
    CONSTRAINT uq_inbound_email_replies_provider_message_id UNIQUE (provider_message_id)
);

CREATE INDEX ix_inbound_email_replies_svix_id ON inbound_email_replies (svix_id);

CREATE INDEX ix_inbound_email_replies_email_id ON inbound_email_replies (email_id);

CREATE INDEX ix_inbound_email_replies_candidate_id ON inbound_email_replies (candidate_id);

CREATE INDEX ix_inbound_email_replies_job_id ON inbound_email_replies (job_id);

CREATE INDEX ix_inbound_email_replies_outreach_event_id ON inbound_email_replies (outreach_event_id);

CREATE TABLE inbound_email_attachments (
    id UUID NOT NULL, 
    reply_id UUID NOT NULL, 
    provider_attachment_id VARCHAR(255) DEFAULT '' NOT NULL, 
    filename VARCHAR(512) DEFAULT '' NOT NULL, 
    content_type VARCHAR(255) DEFAULT '' NOT NULL, 
    size_bytes INTEGER DEFAULT '0' NOT NULL, 
    storage_path VARCHAR(1024) DEFAULT '' NOT NULL, 
    public_url VARCHAR(1024) DEFAULT '' NOT NULL, 
    sha256 VARCHAR(64) DEFAULT '' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(reply_id) REFERENCES inbound_email_replies (id), 
    CONSTRAINT uq_inbound_email_attachments_reply_provider_attachment UNIQUE (reply_id, provider_attachment_id)
);

CREATE INDEX ix_inbound_email_attachments_reply_id ON inbound_email_attachments (reply_id);


-- Running upgrade 3b1c2d4e5f60, d372c35b8adf -> fbdc5904bece

DELETE FROM alembic_version WHERE alembic_version.version_num = '3b1c2d4e5f60';

UPDATE alembic_version SET version_num='fbdc5904bece' WHERE alembic_version.version_num = 'd372c35b8adf';

-- Running upgrade 84956441b9c3 -> c7d8e9f0a1b2

ALTER TABLE candidate_profiles ADD COLUMN candidate_status VARCHAR(64) DEFAULT 'new' NOT NULL;

ALTER TABLE candidate_profiles ADD COLUMN resume_received_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE candidate_profiles ADD COLUMN total_experience_years FLOAT DEFAULT '0' NOT NULL;

ALTER TABLE candidate_profiles ADD COLUMN current_title VARCHAR(255) DEFAULT '' NOT NULL;

ALTER TABLE candidate_profiles ADD COLUMN current_company VARCHAR(255) DEFAULT '' NOT NULL;

ALTER TABLE candidate_profiles ADD COLUMN phone VARCHAR(64) DEFAULT '' NOT NULL;

ALTER TABLE candidate_profiles ADD COLUMN linkedin_url VARCHAR(500) DEFAULT '' NOT NULL;

ALTER TABLE candidate_profiles ADD COLUMN github_url VARCHAR(500) DEFAULT '' NOT NULL;

ALTER TABLE candidate_profiles ADD COLUMN parsed_resume_json JSON DEFAULT '{}' NOT NULL;

ALTER TABLE candidate_profiles ADD COLUMN parsed_resume_text TEXT DEFAULT '' NOT NULL;

ALTER TABLE outreach_events ADD COLUMN reply_intent VARCHAR(64) DEFAULT '' NOT NULL;

ALTER TABLE inbound_email_replies ADD COLUMN intent VARCHAR(64) DEFAULT '' NOT NULL;


-- Running upgrade c7d8e9f0a1b2 -> d9e8f7a6b5c4

